.board-wrapper {
  height: 100vh;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #00000026;
  }
  &::-webkit-scrollbar-thumb {
    background: #aba59d70;
    border-radius: 10px;
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;

  .board-header {
    @include header-color(header);
  }
  .board-view {
    height: 100%;
    padding-block-start: rem(100px);
    width: max-content;
    margin-inline-start: rem(28px);
    .board-nav {
      position: fixed;
      top: 53px;
      width: 100%;
      h2 {
        font-size: rem(20px);
        font-weight: 700;
        line-height: 32px;
        padding: 0 12px;
      }
      button {
        @include header-btn;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 4px;
        padding: 10px;
      }
      
      @include flex(row, space-between);
      .left-nav, .right-nav {
        @include flex;
        gap: rem(4px);
      }
      .left-nav {
        .star {
          font-family: trellicons;
          width: 32px;
          height: 32px;
          &::before {
            content: "\e967";
            font-size: rem(18px);
            color: #f2d600;
          }
        }
        .members-container {
          @include flex;
          // display: flex;
          margin-inline-start: 5px;
          gap: rem(5px);
  
          .invite {
            @include blue-btn;
            i {
              font-size: em(12px);
              margin-right: rem(6px)
            }
          }
        }
  
      }
      .right-nav {
        margin-inline-end: rem(32px);
      }
    }
    .board-menu {
      overflow-y: auto;
      menu {
        margin-top: rem(23px);
        padding: 0;
      }
      position: fixed;
      right: 0;
      width: 339px;
      height: 893px;
      background-color: #f4f5f7;
      z-index: 10;
      left: inherit;
      top: 45px;
      font-weight: 600; 
      .header-title {
        margin: rem(14px) 0;
        line-height: 20px;
        font-weight: 600;
        font-size: rem(16px);
        color: $clr1;
      }
      ul {
        margin: 0;
        padding: 0;
        color: $clr1;
      }
      .menu-options {
        li {
          cursor: pointer;
          @include flex(row, _, center);
          border-radius: 3px;
          gap: rem(15px);
          padding: rem(6px);
          i {
            font-size: rem(16px);
          }
          &:hover {
            background-color: #091e4214;
          }
          .activity {
            font-weight: 700;
          }
        }
      }
      .bg-choose {
        .bg-choose-top {
          @include flex;
          gap: rem(10px);
          margin-top: rem(10px);
        }
        .bg-picker{ 
          @include flex(column);
        }
      }
      img {
        width: 135px;
        height: 96px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          filter: grayscale(50%);
        }
      }
      .bg-choose-img {
        .search-container {
          margin-top: rem(10px);
          // position: relative;
          label {
            position: absolute;
          }
        }
        .bg-images {
          @include flex;
          flex-wrap: wrap;
          gap: rem(10px);
          img {
            object-fit: cover;
            object-position: bottom;
          }
        }
      }
    }
    .group-container {
      .open-group-container {
        cursor: pointer;
        background-color: #00000014;
        border-radius: 3px;
        height: auto;
        min-height: 32px;
        padding: rem(15px);
        width: 272px;
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(13px);
        transition: background-color 85ms ease-in, opacity 40ms;
        &:hover {
            background-color: #00000029;
        }
          span {
              padding: rem(6px) rem(8px);
          }
      }
      .add-group-container {
          width: 272px;
          height: 80px;
          border-radius: 3px;
          background-color: $clr5;
          padding: rem(4px);
          input {
              @include custom-input;
              width: 100%;
              margin: 0;
          }
          .add-group-actions {
            @include flex(row, flex-start, center);
            gap: rem(13px);
            button {
              @include blue-btn;
              margin-top: rem(4px);
            }
            span {
              font-size: rem(20px);
              color: #42526e;
              &:hover {
                color: $clr1;
                cursor: pointer;
              }
            }
          }
      }
    }
  }
}

