.home-view {
        padding-block-start: rem(150px);
        @include flex;
        gap: rem(100px);
        img {
            width: 370px;
        }
        article{
            flex-basis: 60%;
        }
        button {
            margin-top: rem(50px);
            @include blue-btn;
            width: 200px;
            font-size: rem(25px);
            gap: rem(10px);
            border: 2px solid transparent;
            transition: border-color 0.5s;
            
            &:hover {
                border-color: $clr4;
            }
           }
}
