.board-list-container {
    .boards-area {
        margin: 0 auto;
        max-width: 1266px;
        padding: 20px 0 0;

        .boards-name {
            display: flex;
            margin: 0 0 0 40px;
            padding: 0 0 11px;
            position: relative;

            span {
                font-family: trellicons;
                text-align: center;
                left: -40px;
                position: absolute;
                font-size: 24px;
                line-height: 32px;
                width: 32px;
                &:before {
                    content: "\e91b";
                }
            }
            .title {
                font-weight: 700;
                font-size: 1rem;
                line-height: 24px;
                display: inline-block;
                flex: 1;
                font-size: 16px;
                margin: 6px 0 0;
            }
        }
        .board-list {
            .boards {
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                justify-content: flex-start;

                li {
                    margin: 0 2% 2% 0;
                    padding: 0;
                    transform: translate(0);
                    width: 23%;
                    .board-preview {
                        position: relative;

                        &:hover {
                            .board-preview-container {
                                filter: brightness(90%);
                            }
                        }

                        .board-preview-container {
                            height: 96px;
                            border-radius: 3px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-color: #97a0af;
                            background-position: 50%;
                        }

                        .txt-on-borad-img {
                            position: absolute;
                            left: 10px;
                            top: 10px;
                            color: $clr4;
                            font-weight: 700;
                            z-index: 10;
                        }

                        .star-icon {
                            position: absolute;
                            color: white;
                            width: 16px;
                            height: 16px;
                            right: 10px;
                            bottom: 14px;
                            font-family: trellicons;
                            transform: translateX(0);
                            transition-duration: 0.15s;
                            transition-property: color, background, opacity, transform, width, margin;
                            width: 0;
                            opacity: 0;
                            z-index: 10;
                            cursor: pointer;
                            &::before {
                                content: "\e966";
                            }
                        }

                        &:hover {
                            .star-icon {
                                opacity: 1;
                                transform: translateX(-14px);
                                &:hover {
                                    transform: scale(1.1);
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }

                        &.new-board {
                            cursor: pointer;
                            .board-preview-container {
                                background-color: #091e420a;
                            }

                            .txt-on-borad-img {
                                color: #172b4d;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            .create-board {
                @include flex;
                font-size: rem(14px);
                color: $clr1;
                cursor: pointer;
                width: 200px;
                height: 100px;
                border-radius: 3%;
                background-color: #091e420a;
                transition: all 0.3s;
                &:hover {
                    background-color: darken($clr5, 5%);
                }
            }
        }
    }
}
