.board-list-container {
    .boards-area {
        margin: 0 auto;
        max-width: 1266px;
        padding: 20px 0 0;

        .boards-name {
            display: flex;
            margin: 0 0 0 40px;
            padding: 0 0 11px;
            position: relative;

            span {
                font-family: trellicons;
                text-align: center;
                left: -40px;
                position: absolute;
                font-size: 24px;
                line-height: 32px;
                width: 32px;
                &:before {
                    content: "\e91b";
                }
            }
            .title {
                font-weight: 700;
                font-size: 1rem;
                line-height: 24px;
                display: inline-block;
                flex: 1;
                font-size: 16px;
                margin: 6px 0 0;
            }
        }
        .board-list {
            .boards {
                display: flex;
                flex-wrap: wrap;
                gap: rem(20px);
                margin: 0;
                padding: 0;
                justify-content: flex-start;
            }
            .board-preview {
                @include flex;
                flex-wrap: wrap;
                .board-preview-container {
                    width: 200px;
                    height: 100px;
                    border-radius: 3px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    &:hover {
                        filter: brightness(70%);
                        span {
                            color: white;

                            // filter: brightness(100%);
                            filter: unset !important;
                            z-index: 700;
                        }

                        // background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
                        // &::before {
                        //     background: none;
                        // }
                    }

                    // &::before {
                    //     content: "";
                    //     display: block;
                    //     position: absolute;
                    //     top: 0;
                    //     bottom: 0;
                    //     left: 0;
                    //     right: 0;
                    //     background: rgba(0, 0, 0, 0.1);
                    //     transition: all 0.2s linear;
                    // }
                }
                a {
                    position: relative;
                }
                span {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    color: $clr4;
                    font-weight: 700;
                    z-index: 10;
                }
            }
            .create-board {
                @include flex;
                font-size: rem(14px);
                color: $clr1;
                cursor: pointer;
                width: 200px;
                height: 100px;
                border-radius: 3%;
                background-color: #091e420a;
                transition: all 0.3s;
                &:hover {
                    background-color: darken($clr5, 5%);
                }
            }
        }
    }
}
