.card-preview-container {
  max-height: 72vh;
  overflow-y: auto;
  /* width */
&::-webkit-scrollbar {
  width: 8px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #f1f1f1;
}
&::-webkit-scrollbar-thumb {
  background: darken($clr5, 10%);
  border-radius: 10px;
}

  .card-preview {
    position: relative;
    @include flex(row, flex-start, flex-start);
    gap: 1rem;
    height: 100%;
    background-color: $clr4;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    margin-bottom: 8px;
    cursor: pointer;
    &:hover {
      .edit-card {
          display: flex;
      }
      background-color: darken($clr4, 5%);
    }
    .edit-card {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: em(12px);
      color: lighten($clr6, 30%);
      border-radius: 3px;
      height: 30px;
      width: 30px;
      padding: rem(5px);
      font-weight: 400;
      @include flex;
      display: none;
      transition: background-color 0.3s;
      &:hover {
        background-color: darken($clr5, 5%);
      }
    }
  }
  .card-label-container {
    // overflow: auto;
    position: relative;
    color: $clr4;

    &:hover {
      -webkit-filter: brightness(70%);
    }

    .card-label {
      float: left;
      font-size: 12px;
      font-weight: 700;
      height: 8px;
      line-height: 100px;
      margin: 0 4px 4px 0;
      max-width: 40px;
      min-width: 40px;
      padding: 0;
      text-shadow: none;
      width: auto;
      border-radius: 4px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0);
      transition-duration: 1s;
      transition-property: color, width, height;
      transition-timing-function: ease;
      // transition: width 0.5s ease-in;
      // transition: color 1s;

      &.open {
        color: white;
        height: 16px;
        line-height: 16px;
        max-width: 198px;
        padding: 0 8px;
      }
    }
  }
}