.custom-modal-container {
    .custom-modal-main {
        .members-container {
            li {
                width: 280px;
                height: 40px;
                cursor: pointer;

                .member {
                    border-radius: 3px;
                    line-height: 32px;
                    margin: 0 0 2px 0;
                    padding: 4px;
                    width: 100%;
                    overflow: hidden;
                    position: relative;

                    &:hover {
                        background-color: #091e420a;
                    }

                    .v-icon {
                        display: block;
                        padding: 11px;
                        right: 0;
                        top: 0;
                        color: #42526e;
                        width: 42px;
                        display: none;
                    }

                    &.active {
                        padding-right: 28px;
                        .v-icon {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
