.workspace-view {
    .workspace-header {
        @include header-color(workspace);
        top: 0;
    }
    .workspace-wrapper {
        @include flex(row, _, _);
        margin-block-start: rem(82px);
        .board-list-container {
            margin-left: rem(31px);
            .recently-viewed {

            }
            .board-list {
                .nav-options-top, .boards {
                    display: flex;
                    flex-wrap: wrap;
                    gap: rem(20px);
                }
                .board-preview {
                    a {
                        position: relative;
                    }
                    span {
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        color: $clr4;
                        font-weight: 700;
                        z-index: 10;
                    }
                    img {
                        width: 200px;
                        height: 100px;
                        border-radius: 3px;
                        object-fit: cover;
                        transition: all 0.3s;
                        &:hover {
                            filter: brightness(70%);
                        }
                    }
                }
                .create-board {
                    @include flex;
                    font-size: rem(14px);
                    color: $clr1;
                    cursor: pointer;
                    width: 200px;
                    height: 100px;
                    border-radius: 3%;
                    background-color: #091e420a;
                    transition: all 0.3s;
                    &:hover {
                        background-color: darken($clr5, 5%);
                    }
                }
            }
        }
    }
}