// COLORS
$clr1: #091e42;
$clr2: #0065ff;
$clr3: #7a869a;
$clr4: #ffffff;
$clr5: #ebecf0;
$clr6: #5e6c84;
$clr7: #0079bf;
$clr8: #42526e;
$clr9: #6b778c;

// // COLORS FOR LABELS
// $label0: #61bd4f;
// $label1: #f2d600;;
// $label2: #ff9f1a;
// $label3: #eb5a46;
// $label4: #c377e0;
// $label5: #0079bf;
// $label6: #00c2e0;
// $label7: #51e898;
// $label8: #ff78cb;
// $label9: #344563;
// $label10: #b3bac5;
